.chart-y-axis-title {
  .chart-y-axis-title-subtitle {
    color: var(--content-tertiary);
    font-size: 1.4rem;
  }

  .chart-y-axis-title-content {
    font-weight: 700;
  }
}

.chart-subtitle {
  display: grid;
}
