@font-face {
  font-family: 'BitgetCustomFont';
  src: url('/fonts/Switzer-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

/* Define Custom Colors */
$primary-bg-color: #151517;
$primary-nav-color: #040405;
$primary-item-color: #03aac7;
$primary-text-color: #f4f5f7;


$font-sans: 'BitgetCustomFont', sans-serif;
