@import './variables';

body {
  font-family: $font-sans;
  color: $primary-text-color;
  background-color: $primary-bg-color;
  margin: 0;

  font-size: 1.6rem;
}

h1 h2 h3 h4 h5 p span {
  color: $primary-text-color;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --border: #38393d;
  --text: #f4f5f7;
  --text-disabled: #57585c;
  --content-tertiary: #8e8e92;
}

.ant-segmented-item-label {
  font-weight: 500;
}

.ant-picker-input > input {
  font-weight: 500;
}
