.main-page-filter {
  margin-top: 4rem;
  margin-bottom: 2rem;

  .ant-segmented.ant-segmented-lg .ant-segmented-item-label {
    padding-inline: 2.4rem;
  }
}

.main-profile-filter-range-picker-popup {
  .ant-picker-panel-container.ant-picker-date-panel-container {
    border-radius: 0.8rem;
    border: 1px solid var(--border);
  }

  .ant-picker-date-panel {
    padding: 1.2rem;

    &:first-child {
      border-right: 0.1rem solid var(--border-1);
    }

    .ant-picker-header {
      padding-bottom: 1rem;
      border-bottom: 0;
    }

    .ant-picker-body {
      padding: 0;

      thead {
        border-bottom: 0.1rem solid var(--border-1);
      }
    }
  }
}

.main-page-filter-drawer {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border: 0.1rem solid var(--border-1);

  .ant-drawer-body {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  .ant-drawer-header {
    .ant-drawer-header-title {
      flex-direction: row-reverse;
    }

    .ant-drawer-close {
      margin: 0;
    }

    .ant-drawer-title {
      display: flex;
      justify-content: center;
      padding-left: 2.4rem;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                             Mobile date picker                             */
/* -------------------------------------------------------------------------- */
.filter-picker-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-page-filter-customer-date-picker-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  overflow: hidden;

  position: relative;

  &::before {
    content: '';

    position: absolute;
    height: 4.7rem;
    opacity: 0.01;
    border-radius: 0.4rem;

    transform: translateY(-50%);

    top: 50%;
    left: 0;
    right: 0;

    background-color: white;
  }

  .grid-item {
    overflow: hidden;
  }

  .year-wrapper,
  .day-wrapper,
  .month-wrapper {
    display: flex;
    flex-direction: column;

    font-size: 2rem;

    scroll-snap-type: y mandatory;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .year-wrapper {
    height: 100%;
    justify-content: center;
  }

  .item {
    width: 100%;
    text-align: center;

    padding: 1rem;
    cursor: pointer;
  }
}

.mobile-filter-action-buttons {
  margin-top: auto;
}
/* --------------------------- Mobile date picker --------------------------- */
