.main-page-filter {
  margin-top: 4rem;
  margin-bottom: 2rem;

  .ant-segmented.ant-segmented-lg .ant-segmented-item-label {
    padding-inline: 2.4rem;
  }
}

.main-page-range-picker-left-panel {
  padding: 1.2rem;
  border-right: 0.1rem solid var(--border);
  border-radius: 0.8rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-page-range-picker-left-panel-item {
  transition: all ease 0.2s;
  cursor: pointer;

  &:hover {
    color: var(--primary);
  }
}

.main-profile-filter-range-picker-popup {
  .ant-picker-panel-container.ant-picker-date-panel-container {
    border-radius: 0.8rem;
    border: 1px solid var(--border);
  }

  .ant-picker-date-panel {
    padding: 1.2rem;

    &:first-child {
      border-right: 0.1rem solid var(--border-1);
    }

    .ant-picker-header {
      padding-bottom: 1rem;
      border-bottom: 0;
    }

    .ant-picker-body {
      padding: 0;

      thead {
        border-bottom: 0.1rem solid var(--border-1);
      }
    }
  }
}
