@import '../../styles/variables';
@import '../../styles/mixins';

.main-page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 32px;
  @include sm{
    padding: 16px;
  }
}

.main-page-charts-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main-page-chart-layout {
  display: grid;
  gap: 2rem;

  grid-template-columns: repeat(2, 1fr);

  .main-page-chart:first-child {
    grid-column: 1 / -1;
  }

  .main-page-chart {
    width: 100%;
    overflow: hidden;
  }

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;

    .main-page-chart {
      grid-column: 1 / -1;
    }
  }
}
